<div [ngClass]="{ 'timeline-inverted': inverted }">
  <div class="posted-date" *ngIf="exists('date')">
    <span class="month">{{ getProperty('date') }}</span>
  </div>
  <!--/ /posted-date /-->

  <div class="panel panel-success timeline-panel wow" data-wow-duration="1.5s">
    <div class="timeline-content">
      <div class="panel-heading timeline-heading row">
        <div class="col-md-10 col-10 pull-left">
          <h3 class="panel-title text-uppercase text-truncate">{{ getProperty('title') }}</h3>
          <span>
            <a
              *ngIf="exists('subtitleUrl') && exists('subtitle')"
              [href]="getProperty('subtitleUrl')"
              class="h4 text-success"
              target="_blank"
              rel="noopener"
              >{{ getProperty('subtitle') }}</a
            >
            <a *ngIf="!exists('subtitleUrl') && exists('subtitle')" class="h4 text-success">
              {{ getProperty('subtitle') }}
            </a>
            <ng-container *ngIf="exists('precision')"><br />{{ getProperty('precision') }}</ng-container>
          </span>
        </div>
        <div class="col-md-2 col-2 pull-right text-center d-flex flex-row-reverse">
          <i class="thumbnail" *ngIf="exists('icon')" [className]="'fas fa-3x text-success ' + getProperty('icon')"></i>
          <a
            *ngIf="!exists('icon') && exists('image')"
            [href]="getProperty('subtitleUrl')"
            target="_blank"
            rel="noopener"
          >
            <img class="media-object thumbnail" [src]="getProperty('image')" [alt]="getProperty('subtitle')" />
          </a>
        </div>
      </div>

      <div *ngIf="exists('description')" class="panel-body timeline-body text-justify">
        <p>
          {{ getProperty('description') }}
        </p>
      </div>
    </div>
  </div>
</div>
