<section class="container bio-section section-padding">
  <div class="container">
    <h2 class="section-title wow" data-wow-duration="1.5s" translate>Bio</h2>
  </div>

  <div class="row">
    <div class="col-lg-4 order-lg-2">
      <div class="biography">
        <!-- <div class="myphoto wow" id="avatar" data-wow-duration="1.0s">
                    <img src="assets/img/Avatar-rhomb-md.png" max-width="358px" max-height="358px"
                        alt="{{fullname}}" />
                </div> -->
        <ul class="list-check">
          <li class="row">
            <div class="col-xs-2 col-sm-6 col-md-2 col-lg-6">
              <i class="text-shared-hue-background fa fa-fw fa-id-badge"></i>
              <strong class="hidden-xs hidden-md" translate>Name:</strong>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-10 col-lg-6">
              <span>{{ fullname }}</span>
            </div>
          </li>
          <li class="row">
            <div class="col-xs-2 col-sm-6 col-md-2 col-lg-6">
              <i class="text-shared-hue-background fa fa-fw fa-calendar"></i>
              <strong class="hidden-xs hidden-md" translate>Birth:</strong>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-10 col-lg-6" translate>{{ birth }}</div>
          </li>
          <li class="row">
            <div class="col-xs-2 col-sm-6 col-md-2 col-lg-6">
              <i class="text-shared-hue-background fa fa-fw fa-home"></i>
              <strong class="hidden-xs hidden-md" translate>Location:</strong>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-10 col-lg-6" translate>{{ location }}</div>
          </li>
          <li class="row">
            <div class="col-xs-2 col-sm-6 col-md-2 col-lg-6">
              <i class="text-shared-hue-background fa fa-fw fa-globe"></i>
              <strong class="hidden-xs hidden-md" translate>Citizenship:</strong>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-10 col-lg-6" translate>{{ citizenship }}</div>
          </li>
          <li class="row">
            <div class="download-button d-flex justify-content-center">
              <a class="btn btn-lg btn-hue" href="#" translate><i class="fa fa-download"></i> Download my cv</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--/ col-md-4 /-->

    <div class="col-lg-8 order-lg-1">
      <div class="short-info" id="objective">
        <h3 class="wow" translate>Objective</h3>
        <p class="wow text-justify" translate>BIO_OBJECTIVE</p>
      </div>

      <div class="short-info">
        <h3 class="wow" translate>Scopes</h3>
        <ul class="row list-check">
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-check"></i>Embedded Development
          </li>
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-check"></i>Software Development
          </li>
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-check"></i>Web Development
          </li>
        </ul>
      </div>

      <div class="short-info">
        <h3 class="wow text-justify" translate>Selfie</h3>
        <p class="wow text-justify" translate>BIO_SELFIE</p>

        <p class="wow text-justify" translate>BIO_SELFIE_CONCLUSION</p>
      </div>

      <div class="short-info">
        <h3 class="wow" translate>What I Do</h3>
        <p class="wow text-justify" translate>BIO_WHAT_I_DO</p>

        <ul class="row list-check">
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fab fa-fw fa-react"></i>Modern Websites
          </li>
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-layer-group"></i>Fullstack Embedded Applications
          </li>
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-cloud"></i>IoT
          </li>
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-project-diagram"></i>Leading Projects
          </li>
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-chalkboard"></i>Constantly Learning
          </li>
          <li class="col-xs-12 col-md-6 wow" translate>
            <i class="text-shared-hue-background fas fa-fw fa-user"></i>Staying Human
          </li>
        </ul>
      </div>

      <!-- <div class="my-signature hidden">
                <img src="assets/img/sign.png" alt="Signature example" />
              </div> -->
    </div>
  </div>
  <!--/ /.row /-->
</section>
