<div class="container-fluid vh-100 d-flex align-items-center">
  <div class="text-center container">
    <div>
      <app-main-title [title]="'Volodia Parol-Guarino'" [subtitle]="'Engineering student'"></app-main-title>
    </div>
    <div class="mt-5">
      <p translate>__catch_phrase__</p>
    </div>
    <div class="bottom rounded ">
      <p class="text-muted" translate>Scroll down to reveal more details</p>
      <button class="text-muted btn btn-circle btn-circle-sm m-1 animated infinite bounce delay-2s">
        <i class="fas fa-angle-double-down"></i>
      </button>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
<app-bio></app-bio>
<app-resume></app-resume>
<app-skills></app-skills>
