<div class="container-fluid vh-100 d-flex align-items-center">
  <div class="text-center container">
    <div>
      <app-main-title [title]="'Volodia Parol-Guarino'" [subtitle]="'Engineering student'"></app-main-title>
    </div>
    <div class="mt-5">
      <p translate="">__catch_phrase__</p>
    </div>
    <div class="bottom rounded ">
      <p translate>Scroll down to reveal more details</p>
      <button type="button" class="btn btn-success btn-circle"><i class="fas fa-angle-double-down"></i></button>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
<div class="container vh-100 ">
  test
</div>
<div class="container vh-100 ">
  toto
</div>
