.section-title {
  color: #2c3e50;
  font-size: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;
}

.text-primary-gradient {
  //   background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: "text";
}

.resume-title {
  margin: 2rem 0;
}
